{{- if .Values.secrets.pullSecrets.github.auth }}
---
apiVersion: v1
kind: Secret
metadata:
  name: github-pull-secret
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {
      "auths": {
        "ghcr.io": {
          "auth": "{{ .Values.secrets.pullSecrets.github.auth }}"
        }
      }
    }
{{- end }}
{{- if .Values.secrets.vxapi.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: vx-api-secret-env
type: Opaque
stringData:
  {{- toYaml .Values.secrets.vxapi.entries | nindent 2 }}
{{- end }}
